@model CASMUL.DB.grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finca.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finca.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_grupo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
