@model CASMUL.Models.Cables.EditCableViewModel

<div class="row">

    <div class="col-md-6 col-md-offset-3 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="~/Cables/Index" class="btn btn-xs btn-primary" data-original-title="Crear Usuario" title="Crear Usuario"><i class="fa fa-lisr"></i> Listado</a>
                </div>
                <h4 class="panel-title">Editando Cable</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Acres, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Acres, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Acres, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Hectarias, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Hectarias, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Hectarias, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdGrupo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IdGrupo, new SelectList(ViewBag.SelectGrupos, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdGrupo, "", new { @class = "text-danger" })
                            </div>
                        </div>
<<<<<<< HEAD
                        @*<div class="form-group">
=======

                        <div class="form-group">
>>>>>>> refs/remotes/origin/ProveedorCRUD
                            @Html.LabelFor(model => model.IdFinca, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IdFinca, new SelectList(ViewBag.SelectFincas, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdFinca, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @Html.HiddenFor(model => model.IdCable, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
