@model IEnumerable<CASMUL.Models.Grupos.ListGruposViewModel>



<div class="row">

    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="@Url.Action("Create", "Grupos")" class="btn btn-xs btn-primary" data-original-title="Crear Usuario" title="Crear Usuario"><i class="fa fa-plus"></i> Nuevo</a>
                </div>
                <h4 class="panel-title">Grupos</h4>
            </div>
            <div class="panel-body">
                <table class="table" data-class="dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Finca)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Finca)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdGrupo }) |
                                    @if (Convert.ToBoolean(item.Activo))
                                    {

                                        @Html.ActionLink("Desactivar", "Delete", new { id = item.IdGrupo })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Activar", "Delete", new { id = item.IdGrupo })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('table').dataTable();
    </script>
}